#hbox {
 -fx-background-color: #032541;
}

#moviesBtn, #loginBtn, #signupBtn {
 -fx-background-color: #032541;
}

#moviesBtn:hover, #loginBtn:hover, #signupBtn:hover {
 -fx-background-color: #033055;
}